annotated-types==0.7.0
anyio==4.4.0
certifi==2024.6.2
charset-normalizer==3.3.2
decorator==4.4.2
distro==1.9.0
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
idna==3.7
imageio==2.34.1
imageio-ffmpeg==0.5.1
moviepy==1.0.3
numpy==1.26.4
openai==1.32.0
opencv-python==4.10.0.82
pillow==10.3.0
proglog==0.1.10
pydantic==2.7.3
pydantic_core==2.18.4
pytube==15.0.0
requests==2.32.3
scipy==1.13.1
sniffio==1.3.1
tqdm==4.66.4
typing_extensions==4.12.1
urllib3==2.2.1
